extends layout 
block content 
    div(class='product-details')
        if product_information 
            
            img(src=product_information.image)
            div(class='details-info')
                h1= product_information.name
                p= product_information.brand
                p Rating:  #{product_information.rating}
                p Categories
                ul 
                    for category in product_information.categories
                        li= category.name
                    if !product_information.in_stock
                        p(class='no-stock') OUT OF STOCK
                    
                    h3 Price:  $#{product_information.price}        
        else 
            p product not found
    div 
        button  
            a(href= product_information.url+'/delete') Delete
        button  
            a(href= product_information.url+'/update') Update
    